@import './_variables/general.scss';
@import 'text';

.box {
    border: $primary-box-border $primary-box-border-style $primary-box-border-color;
    border-radius: $primary-box-border-radius;
}

.box-padding {
    padding: 20px;
}

.box-margin {
    margin: 20px;
}

.message-box {
    background-color: $message-box-color;
    padding: 50px;
    @include message-text-style;
}
