#m-details {
  height: 100%;
}

.m-details-header {
    min-height: 500px;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('http://lorempixel.com/1920/500/');
    background-position:center top;
    text-shadow: 1px 1px 22px rgba(150, 150, 150, 1);
}

.m-details-introduction-title {
    padding: 50px 0 10px 0;
}

.m-details-content {
    padding: 10px 0 20px 0;
}

.m-details-profile-box {
    width: 100px;
    height: 100px;
    border: 10px solid #eeeeee;
    border-radius: 50%;
}

.m-details-recommendations {
    text-align: center;
}
